.root {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.button {
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

.buttonRoot {
  padding: 0;
  max-height: 0.875rem;
}

.value,
.copyButton {
  font-size: 0.875rem;
}

.copyButton {
  width: 23px;
  height: 23px;

  @media print {
    display: none;
  }
}
