.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px;
  max-width: 1400px;

  @media (--breakpoint-md) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.mainIfo {
  width: 100%;

  @media (--breakpoint-md) {
    max-width: 445px;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 935px;
  width: 100%;
}

.purpose {
  box-shadow: var(--mui-shadows-2);
}

.purposeRootAlert {
  display: flex;
  align-items: center;
}
